[Desktop Entry]
Version=1.0
Type=Application
Name=Speed Dreams
Comment=an Open Motorsport Sim
Icon=org.speed_dreams.SpeedDreams
Exec=/app/games/speed-dreams-2
Categories=Game;Application;SportsGame;
Encoding=UTF-8
